services:
  app:
    build: .
    ports:
      - "4321:4321"
    environment:
      - PUBLIC_POCKETBASE_URL=http://localhost:8090
      - INTERNAL_POCKETBASE_URL=http://pocketbase:8090
    depends_on:
      - pocketbase
    restart: unless-stopped

  pocketbase:
    image: ghcr.io/muchobien/pocketbase:latest
    container_name: pocketbase
    ports:
      - "8090:8090"
    volumes:
      - ./pb_data:/pb_data
      - ./pb_public:/pb_public
      - ./pb_migrations:/pb_migrations
      - ./pb_hooks:/pb_hooks
    restart: unless-stopped
    command:
      - --publicDir=/pb_public
      - --hooksDir=/pb_hooks
      - --migrationsDir=/pb_migrations
